.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px;
  width: 100%;
}

form button {
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 8px;
  padding: 8px 16px;
}

.labeled-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

.labeled-select label {
  font-size: 100%;
  margin-bottom: 4px;
  color: #fffefe;
}

.labeled-select select {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #161f27;
}

select:focus {
  border-color: #0096bfab;
  outline: none;
}

.recetas {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  width: 100%;
  gap: 32px;
}

.receta {
  text-align: center;
}

.receta img {
  border-radius: 8px;
  margin-top: 16px;
}

.receta h3 .receta p {
  margin: 0;
}